header {
display: flex;
margin-bottom: 20px;
margin-top: 10px;
justify-content: flex-end;
height: 80px;
align-items: center;

}

h1 {
    font-size: 60px !important;
    margin-right: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900 !important;
    /* color: white; */
    text-shadow: 1px 1px 3px rgb(245, 245, 245),5px 5px 10px rgb(56, 56, 56);

}

#header_logo {
height:100px;
margin-right: 30px;
}

#header_pan {
height:90px;
}
